* {
	magin: 5px;
	position: relative;
	font-family: arial, helvetica, sans-serif;
	color: #333;
	text-decoration: none!important;
}

body {
  background-color: #eee;
  font-family: arial, helvetica, sans-serif;
}

a,
:visited,
:before,
:after {
  text-decoration: none;
  color: #2088e3;
}

a:hover {
	color: #000;
}
